.root
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 100vh

.list
  display: flex
  flex-direction: row
  align-items: center
  margin-top: 10px
  div
    width: 150px
    span
      font-weight: bold
      color: #000